body {
    --skill-color:0, 0, 0;
    --skill-color-selected: rgb(20, 233, 77);
    --skill-color-selected: 20, 233, 77;
    --skill-color-identified: 77, 20, 233;
    --skill-color-rejected: 233, 77, 20;


    --subtle-color:rgba(0, 0, 0, 0.3);
}