@import url('/utilities/text_styles.css');
@import url('/utilities/header_person.css');
@import url('/utilities/person.css');
@import url('/utilities/heading_styles.css');
@import url('/utilities/content_styles.css');

/* 
@media print {
    @page { margin: 0; }
    html { 
        zoom: 66%;
        height: 100%; 
    }
    body { 
        height: 99%;
        margin: 0px; 
        padding: 8px; 
    }

    #resume_flex_vertical {
        height: 99% !important;
    }
} */