@import url('/utilities/debug.css');
@import url('/utilities/efforts.css');

/* .resume_section_body>._list_to_ul {
    display:flex;
    flex-direction: column;
}

.resume_section_body>._list_to_ul>li{
    display:flex;
    flex-direction: column;
    flex:1 1 min-content;
    padding-inline-start: 10px;
} */








._list_to_ul>li>div:only-child{
    height:100%;
    display:flex;
    flex-direction: column;
}


.supervisor_under_text{
    flex: 0 1 min-content;
}

