.occupation_details {
    display:flex;
    align-items: baseline;
    flex-wrap:wrap;
    flex: 0 0 max-content;
}

.occupation_summary {
    display:flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex: 3 1 min-content;
}

.details_heading {
    display:flex;
    align-items: baseline;
    flex-wrap:wrap;

    /* flex: 1 1 20%; */
}


.details_heading>*, .details_heading p, .occupation_details>p.date{
    flex: 0 4 max-content;
    margin-block:0.1em;
    margin-inline-end:5px;
}

.occupation_details>p.date{
    text-align: end;
    white-space: nowrap;
    margin-left:auto;
    flex: 0 1 max-content;
}

.headline_4, .headline_5, ._achievement{
    margin-block: 0px;
}

.achievement_heading {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.location {
    white-space: nowrap;
}

.details_heading.occupation_supervisor{
    flex-shrink:4;
    flex-grow:0.5;
}