.resume_header {
    margin-block-end: 10px;
}


.resume_header>.Person {
    display:block;
    align-items: unset;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex: 1;
    text-align: center;
}

.resume_header>.Person>.ContactInfo {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 40vw;
}

.resume_header>.Person>.ContactInfo>div {
    margin: 5px;
}

.resume_header>.Person>.person_identity {
    display:block;
    align-items: center;
    width:fit-content;
    margin-inline:auto;
}


.resume_header>.Person>.person_identity>.person_name {
    position: relative;
    font-size: 4em;
    font-weight:bold;
    margin-block-start:0em;
    margin-block-end:0px;
    white-space: wrap;
    
}

.resume_header>.Person>.person_identity>.person_name:before {
    content:' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5%;
    right:90%;

    border: 2px solid rgba(129, 129, 129, 0.294);
    border-right: 0px;

}

.resume_header>.Person>.person_identity>.person_name:after {
    content:' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 90%;
    right:-5%;

    border: 2px solid rgba(129, 129, 129, 0.294);
    border-left: 0px;
}


.resume_header>.Person>.person_identity>.person_pronouns {
    position: relative;
    top:-0.6em;
    margin-block:0px;
}