.Skill {
    display:block;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-end: 2px;
    font-size:xx-small;
    line-height: 0;
    user-select: none;
}


.Skill>.skill_text {
    margin:0px;
    color: rgba(255, 255, 255, 0.1);
}


._skills_div{
    display:flex;
    flex-wrap:wrap;
    height:0px;
}