.resume_section {
    /* break-inside: avoid-page; */
    /* break-inside: auto; */
    /* break-after:auto; */
}

/* .resume_section_body>ul>li {
    break-inside: avoid-page;
} */

.Occupation, .Effort{
    break-inside: avoid-page;
}

/* .resume_section_heading {
    break-after:avoid-page;
}

.resume_section_body {
    break-before:avoid-page;
} */