.resume_section_body>._list_to_ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start:0em;
}

.resume_section_body>._list_to_ul>li:not(:first-child) {
    margin-block-start: 5px;
}


._list_to_ul {
    padding-inline-start: 20px;
}

#resume_main_article ._list_to_ul>li{
    margin-block-start:7px;
    margin-block-end:7px;
}

#resume_sidebar ._list_to_ul>li{
    margin-block-start:7px;
    margin-block-end:7px;
}

#resume_sidebar .Person .ContactInfo>div>* {
    margin: 0;
}

.resume_section_heading {
    margin-block-end: 0em;
}

.Effort, .Certification {
    margin-block-start: 5px;
}

/* .date {
    position:relative;
    right:-10px;
} */