@import url('/utilities/debug.css');

@import url('/utilities/text_styles.css');
@import url('/utilities/header_person.css');
@import url('/utilities/person.css');
@import url('/utilities/heading_styles.css');
@import url('/utilities/pdf_content_styles.css');
@import url('/utilities/pdf_effort.css');
@import url("/utilities/pdf_sections.css");
@import url("/utilities/pdf_color.css");

body {
    margin: 0;
}


@media screen {
    body {
        width:8.5in;
        height:11in;
    }
}

@media print {

    @page:first {
        margin:0;
        /* margin-block-end:0.1in; */
        /* size: 8.5in 30in; */
    }

    @page {
        margin:0;
        margin-block:0.1in;
    }

    body {
        margin: 0;
    }

    #resume_body {
        margin-inline-start: 0.1in;
    }
}