#resume_body {
    display:flex;
    flex-wrap:wrap;
}

#resume_main {
    flex: 5 1 60%;
}

#personal {
    position: relative;
    margin-inline: 20px;
    flex: 1 1 550px;
}

.resume_section.experience>._list_to_ul>li {
    flex: 1 1 70%;
    margin-block: 15px;
}

#skills_head {
    display:flex;
    align-items:baseline;
}

#skills_head>.heading {
    margin: 5px 5px 5px 0px;
}


@media screen and (max-height: 1000px) {
    #personal{
        flex-basis:100%;
    }

    #personal_about{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
    }

    #personal_about>*{
        flex: 1 1 50%;
    }
}

@media screen and (min-height: 1000px) {
    #personal_float{
        height:fit-content;
        position: sticky;
        top:20px;
    }
}