:root {
    --main-scrollbar-width: max(9px, 0.5vw);
}

#personal {
    padding-inline-start:5px;
}

.resume_section.experience>._list_to_ul>li {
    flex: 1 1 70%;
    margin-block: 15px;
}

#skills_head {
    display:flex;
    align-items:baseline;
}

#skills_head>.heading {
    margin: 5px 5px 5px 0px;
}


@media screen and ((max-width: 850px) or (max-height: 1000px)) {
    #personal{
        flex-basis:100%;
    }

    #personal_about{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
    }

    #about_skills {
        display: none;
    }

    .Skill {
        /* margin: 1px !important; */
        /* padding: 1px !important; */
    }

    .Skill>p {
        line-height: 1em;
    }

    #SkillSelectionFlagsDiv{
        position:fixed !important;
    }

    /* #personal_about>*{
        flex: 1 1 50%;
    } */
}

@media screen and (min-width: 850px) and (min-height: 1000px) {
    body {
        height:100vh;
        margin:0;
        padding:0;
    }

    #resume_body {
        height:100%;
        /* padding:10px; */
    }

    #resume_main {
        max-height: 100%;
        overflow-y:auto;

    }
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    #resume_main {
        scrollbar-width: auto;
        scrollbar-color: #9e9e9e #ffffff;
    }

    /* Chrome, Edge, and Safari */
    #resume_main::-webkit-scrollbar {
        width: var(--main-scrollbar-width);
    }

    #resume_main::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    #resume_main::-webkit-scrollbar-thumb {
        background-color: #9e9e9e;
        border-radius: 10px;
    }


    #personal {
        height:100%;
        max-height:100%;
        overflow-y:auto;
        float:left;
        width:30%;
        
        display:flex;
        flex-direction: column;
    }

    #resume_header {
        flex: 0 0 fit-content;
    }

    #about_skills {
        flex: 1 1 fit-content;
        display:flex;
        flex-direction: column;
    }

    #skills_head {
        flex: 0 0 fit-content;
    }


    #about_skills>._skills_div{
        
        flex: 1 1 0px;
        overflow-y:auto;

        scrollbar-width: none;
        -ms-overflow-style: none;


        --scroll-mask-w: 10px;

        padding:var(--scroll-mask-w);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--scroll-mask-w), black calc(100% - var(--scroll-mask-w)), transparent 100%);
        mask-image: linear-gradient(to bottom, transparent 0, black var(--scroll-mask-w), black calc(100% - var(--scroll-mask-w)), transparent 100%);
    }


    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    #about_skills>._skills_div {
        scrollbar-width: auto;
        scrollbar-color: #9e9e9e #ffffff;
        flex-direction: row-reverse;
        direction:rtl;
    }

    #about_skills>._skills_div * {
        direction: ltr;
    }

    /* Chrome, Edge, and Safari */
    #about_skills>._skills_div::-webkit-scrollbar {
        width: calc(0.5 * var(--main-scrollbar-width));
    }

    #about_skills>._skills_div::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    #about_skills>._skills_div::-webkit-scrollbar-thumb {
        background-color: #9e9e9e9a;
        border-radius: 10px;
    }

    #personal_details .person_name {
        white-space: unset;
    }


}