<div class="{{className}}">
    <div class="occupation_details">
        <div class="occupation_summary">
            <div class="details_heading">
                <h{{depth}} class="entry_title">{{name}}</h{{depth}}>
                <p class="subtle certification_issuer">Issued by {{issuer}}</p>
            </div>
            {% if confirmation_info %}
            <div class="details_heading subtle">
                <a href={{website}} target="_blank" rel="noopener noreferrer"><p>Validate</p></a>
                <p> with {% for k, v in confirmation_info.items() %}{{k}}: {{v}} {% endfor %}</p>
            </div>
        </div>
        <p class="date">{{issue_date.year}}-{{ '%02d' % issue_date.month}}</p>
        {% else %}
        </div>
        {% endif %}

    </div>
    

    
    {% with className=className+"_within" %}
    {%include 'Achievement.html' %}
    {% endwith %}
</div>