<div class="{{className}}">
    {% if email %}<div>
        <a href='mailto:{{email}}' target="_blank" rel="noopener noreferrer">{% set email_parts = email.split('@') %}{{ email_parts[0] }}@<wbr>{{ ''.join(email_parts[1:]) }}</a>
    </div>{% endif %}

    {% if phone %}<div>
        <a href='tel:{{phone}}' target="_blank" rel="noopener noreferrer">{{phone}}</a>
    </div>{% endif %}

    {% if link %}<div>
        <a href='{{link}}' target="_blank" rel="noopener noreferrer">{{link}}</a>
    </div>{% endif %}

    {% if link2 %}<div>
        <a href='{{link2}}' target="_blank" rel="noopener noreferrer">{{link2}}</a>
    </div>{% endif %}
    
    {% if location %}<div>
        <p>{{ location }}</p>
    </div>{% endif %}

</div>