<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Zach Allen - Resume</title>
        <link rel="stylesheet" href="/utilities/pdf_layout.css">
        <link rel="stylesheet" href="/utilities/skill_highlight.css">
        <script src="/utilities/skill_highlights.js" defer></script>

        {% if jinja2_render_args.stylesheet is defined %}
        <link rel="stylesheet" href="/styles/{{jinja2_render_args.stylesheet}}.css">
        {% else %}
        <link rel="stylesheet" href="/styles/lighttheme.css">
        {% endif %}
    </head>
    <body>
        <header class="resume_header">
            {{person}}
            {% if jinja2_render_args.resume_link is defined %}
            <div style="margin-inline: auto; width:max-content;"><a href="{{jinja2_render_args.resume_link}}">interactive resume</a></div>{% endif %}
        </header>

        <div class="resume_body">
            <h{{depth+1}} class="resume_section_heading">ABOUT ME</h{{depth+1}}>
            <div class="resume_section_body"><p>{{headline}}</p></div>


            <h{{depth+1}} class="resume_section_heading">EDUCATION</h{{depth+1}}>
            <div class="resume_section_body">{{education}}</div>

            <h{{depth+1}} class="resume_section_heading">IMPACT & EXPERIENCE</h{{depth+1}}>
            <div class="resume_section_body">{{employment if employment}}</div>

            <h{{depth+1}} class="resume_section_heading">PROJECTS</h{{depth+1}}>
            <div class="resume_section_body">{{projects}}</div>
        </div>
    </body>
</html>