<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Zach Allen - Resume</title>
        <link rel="stylesheet" href="/utilities/pdf_layout.css">
        {% if goal_small %}
        <link rel="stylesheet" href="/utilities/pdf_goal_small.css">
        {% endif %}
        <link rel="stylesheet" href="/utilities/pdf_skill_highlight.css">
        <script src="/utilities/skill_highlights.js" defer></script>

        {% if stylesheet is defined %}
        <link rel="stylesheet" href="/styles/{{stylesheet}}.css">
        {% else %}
        <link rel="stylesheet" href="/styles/lighttheme.css">
        {% endif %}
    </head>
    <body>
        <div id="resume_flex_vertical">
            <header id="resume_header">
                <div id="header_personal">
                    {{person}}
                    {% if resume_link is defined %}
                    <div style="margin-inline: auto; width:max-content;"><a href="{{resume_link}}" target="_blank" rel="noopener noreferrer"><i>interactive resume</i></a></div>{% endif %}
                </div>
            </header>

            <div id="resume_body">

                <div id="resume_sidebar">

                    <section id="about_me" class="resume_section">
                        <h{{depth+1}} class="resume_section_heading">SUMMARY</h{{depth+1}}>
                        <div><p>{{headline}}</p></div>
                    </section>

                    <section class="resume_section">
                        <h{{depth+1}} class="resume_section_heading">CONTACT</h{{depth+1}}>
                        {{person}}
                    </section>
                    
                    {% if projects %}
                        <section class="resume_section">
                            <h{{depth+1}} class="resume_section_heading">PROJECTS</h{{depth+1}}>
                            <div class="resume_section_body">{{projects}}</div>
                        </section>
                    {% endif %}


                </div>


                <div id="resume_main_article">
                
                    {% if employment %}
                        <section class="resume_section">
                            <h{{depth+1}} class="resume_section_heading">IMPACT & EXPERIENCE</h{{depth+1}}>
                            <div class="resume_section_body">{{employment}}</div>
                        </section>
                    {% endif %}



                    {% if education %}
                        <section class="resume_section">
                            <h{{depth+1}} class="resume_section_heading">EDUCATION</h{{depth+1}}>
                            <div class="resume_section_body">{{education}}</div>
                        </section>
                    {% endif %}
                </div>

            </div>
        </div>
    </body>
</html>