<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zach Allen - Resume</title>
    <script src="/utilities/skill_highlights.js" defer></script>
    <link rel="stylesheet" href="/utilities/layout.css">
    <link rel="stylesheet" href="/utilities/skill_highlight.css">

    {% if stylesheet is defined %}
    <link rel="stylesheet" href="/styles/{{stylesheet}}.css">
    {% else %}
    <link rel="stylesheet" href="/styles/lighttheme.css">
    {% endif %}
  </head>
  <body>
	  


    <section id="resume_body">

      <aside id="personal">
        <header id="resume_header">
          <section id="personal_details">
            {{person}}
          </section>
          <section id="personal_about">
            <h{{depth+2}} class="resume_subsection_heading">ABOUT ME</h{{depth+2}}>
            <p>{{headline}}</p>
          </section>
        </header>

        {% if skills is defined %}
        <section id="about_skills">
          <div id="skills_head">
            <h{{depth+3}} class="heading heading_{{depth+3}}">SKILLS</h{{depth+3}}>
            <i class="subtle">(ctrl, alt) click to highlight</i>
          </div>

          {{skills}}
        </section>
        {% endif %}

      </aside>

      <section id="resume_main">
        <!-- <div id="resume_main_sock"> -->
          {% if education %}
          <section class="resume_section education">
            <h{{depth+1}} class="resume_subsection_heading">EDUCATION</h{{depth+1}}>
            {{education}}
          </section>
        {% endif %}
    
        {% if employment %}
          <section class="resume_section experience">
            <h{{depth+1}} class="resume_subsection_heading">IMPACT & EXPERIENCE</h{{depth+1}}>
            {{employment}}
          </section>
        {% endif %}
    
        {% if projects %}
          <section class="resume_section projects">
            <h{{depth+1}} class="resume_subsection_heading">PROJECTS</h{{depth+1}}>
            {{projects}}
          </section>
        {% endif %}
        <!-- </div> -->

      </section>
    </section>




  </body>
</html>