<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zach Allen - Resume</title>
    <script src="/utilities/skill_highlights.js" defer></script>
    <link rel="stylesheet" href="/utilities/layout.css">
    <link rel="stylesheet" href="/utilities/skill_highlight.css">

    {% if jinja2_render_args.stylesheet is defined %}
    <link rel="stylesheet" href="/styles/{{jinja2_render_args.stylesheet}}.css">
    {% else %}
    <link rel="stylesheet" href="/styles/lighttheme.css">
    {% endif %}
  </head>
  <body>
	  
    <header class="resume_header">
      {{person}}
    </header>

    <aside class="personal">
      <h{{depth+2}} class="resume_subsection_heading">ABOUT ME</h{{depth+2}}>
      <p>{{headline}}</p>
      {{skills if skills}}
    </aside>

    <section class="resume_section education">
      <h{{depth+1}} class="resume_subsection_heading">EDUCATION</h{{depth+1}}>
      {{education}}
    </section>

    <section class="resume_section experience">
      <h{{depth+1}} class="resume_subsection_heading">IMPACT & EXPERIENCE</h{{depth+1}}>
      {{employment if employment}}
    </section>

    <section class="resume_section projects">
      <h{{depth+1}} class="resume_subsection_heading">PROJECTS</h{{depth+1}}>
      {{projects}}
    </section>
  </body>
</html>