<span data-skill="{{clean_name}}"
      {% if trim_skill_html_data is not defined %}
      data-skill-weight="{{weight}}"
      data-skill-share-of-job="{{share_of_job}}"
      data-skill-num-instances-in-resume="{{num_instances}}"
      data-skill-synonym-base="{{synonym_base}}"
      data-cnh-met-threshold="{{cnh_met_threshold}}"
      data-cnh-density="{{cnh_density}}"
      data-cnh-cost="{{cnh_cost}}" 
      data-cnh-weight="{{cnh_weight}}"
      {% endif %}
      class='{{className}} skill_{{clean_name}}' 
      tabindex="0"><p class="skill_text">{{name}}</p></span>